
<div style="margin-top: 2em;"></div>
<table class="table-response">
    <thead>
        <tr>
            <td>Label</td>
            <td>Value</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ClientId</td>
            <td>{{passedValue.ClientId}}</td>
        </tr>
        <tr>
            <td>EventId</td>
            <td>{{passedValue.EventId}}</td>
        </tr>
        <tr>
            <td>CustomerId</td>
            <td>{{passedValue.CustomerId}}</td>
        </tr>
    </tbody>
</table>